*

!/.gitignore

!/.github/
!/.github/**

!/.nojekyll

!/README.md
!/LICENSE

!/package.json
!/postcss.config.js
!/vite.config.js

!/static/
!/static/favicon.ico
!/static/assets/
!/static/assets/**

!/pages/
!/pages/**

!/design/
!/design/**

!/simplybuilder/
!/simplybuilder/*-module/
!/simplybuilder/*-module/**

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build