html, body {
  margin: 0;;
  padding: 0;
  outline-offset: 0;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  inline-size: 100%;
  min-inline-size: 100%;
  block-size: 100%;
  min-block-size: 100%;
}

body {
  display: block;
  position: relative;
}
.panel {
  display: flex;
  position: absolute;
}